name: depnd-jobs
on: [push]
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
            - name: job1-step1
              run: echo "job1"
    job2:
        runs-on: ubuntu-latest
        steps:
            - name: job2-step2
              run: echo "job2"
            